<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="CropHealthMonitoringApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropHealthMonitoringApp"
        tools:targetApi="31">

        <!-- Firebase Metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/notification_color" />

        <!-- Launcher Activity -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="CropHealthMonitoringApp"
            android:theme="@style/Theme.CropHealthMonitoringApp" />
        <activity
            android:name=".ChatActivity"
            android:exported="true" />
        <activity
            android:name=".ExpertProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ExpertsListActivity"
            android:exported="true" />
        <activity
            android:name=".ExpertChatListActivity"
            android:exported="true" />
    </application>
</manifest>
